<div class="card">
  <h5 class="card-header">
    {{ headerText }}
  </h5>
  <div class="card-body">
    <h5 class="card-title">
      {{ titleText }}
    </h5>
    <p class="card-text">
      {{ commentText }}
    </p>
  </div>
  <div class="card-footer">
    <div class="card-primary-button">
      <bz-primary-button
        (onclick)="primaryButtonEvent()"
        [text]="'PRIMARY BUTTON'">
      </bz-primary-button>
    </div>
    <div class="card-secondary-button">
      <bz-secondary-button
        (onclick)="secondaryButtonEvent()"
        [text]="'SECONDARY BUTTON'">
      </bz-secondary-button>
    </div>
  </div>
</div>