<h1 class="business-title">
  CREATE OPERATORS
</h1>
<div class="creator-operators-links">
  <a [routerLink]="['/create/create-operators/create-observables']" 
    routerLinkActive="router-link-active" >
    Creando observables
  </a>
  <a [routerLink]="['/create/create-operators/interval-time']"
    routerLinkActive="router-link-active" >
    Interval and Timer
  </a>
  <a [routerLink]="['/create/create-operators/from-of']"
    routerLinkActive="router-link-active" >
    From and Of
  </a>
  <a [routerLink]="['/create/create-operators/fromevent']"
    routerLinkActive="router-link-active" >
    fromEvent
  </a>
</div>
<router-outlet></router-outlet>
